<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new employee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Add New Employee To DATABASE:</h1>
    <form method="post" action="/home/show">
        <input type="text" name="emp_username" placeholder="Enter employee username" required><br><br>
        <input type="password" name="emp_password" id="" placeholder="Enter employee password" required> <br><br>
        <input type="text" name="emp_fullname" placeholder="Enter Employee fullname" required><br><br>
        <input type="text" name="emp_salary" placeholder="Enter employee salary" required><br><br>
        <input type="email" name="emp_email" placeholder="Enter employee email" required><br><br>
        <button>Submit</button>
    </form>
</body>
</html>